:root {
  --body-color: rgb(255, 224, 198);
}

* {
  margin: 0;
  background-color: var(--body-color);
}

.header {
  height: 15vh;
  width: auto;
  background-color: var(--body-color);
  display: grid;
  justify-content: center;
  align-items: center;
}

.header p {
  font-size: large;
  font-weight: 700;
  letter-spacing: 0.25em;
  word-spacing: 0.2em;
  font-size: 1.5em;
}

.content-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-top img {
  width: 100vw;
  height: 100%;
  /* filter: blur(1px); */
}

.content-top h1 {
  position: absolute;
  left: 30px;
  top: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  color: azure;
  padding: 3px;

}

.content-top p {
  position: absolute;
  padding: 5px;
  left: 30px;
  top: 110px;
  background-color: rgba(0, 0, 0, 0.4);
  color: azure;
  width: 70%;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: rgb(185, 153, 110);
  list-style-type: none;

}

.tab {
  /* background-color: rgb(94, 94, 94); */
  margin: 10px;
  padding: 10px 30px;
  padding-bottom: 3px;
  cursor: pointer;
  border-bottom: 3px rgb(145, 101, 101) solid;
}

.tab:hover {
  background-color: rgb(194, 148, 89);
  color: white;
}


/* MAIN BODY */
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: grid;
  justify-content: center;
}

.tab.active {
  background-color: rgb(253, 195, 119);
}

.menu-container {
  background-color: rgb(224, 190, 151);
  width: 70vw;
  margin: 5px;
  border-radius: 5px;
}

.menu {
  background-color: var(--body-color);
  width: 68vw;
  height: 200px;
  border: 1px white solid;
  margin: 20px 13px 20px 10px;
  display: flex;
  box-shadow: 0px 0.5px 5px black;
}

.menu p {
  padding-left: 5px;
}

#home p {
  margin: 10px 30px;

}

#home h3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.menu-container img {
  width: 300px;
  height: 200px;
  opacity: 0.85;
  transition: 0.2s all linear;
}

.menu-container img:hover {
  transform: translatex(-0.8px);
  opacity: 1;
}

.content-main {
  display: grid;
  justify-content: center;
}

#contact {
  width: 50vw;
  height: 7vh;
  margin: 30px;
}