* {
  margin: 0;
}

.header {
  height: 15vh;
  width: auto;
  background-color: rgb(255, 224, 198);
  display: grid;
  justify-content: center;
  align-items: center;
}

.header p {
  font-size: large;
  font-weight: 700;
  letter-spacing: 0.25em;
  word-spacing: 0.2em;
  font-size: 1.5em;
}

.content-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-top img {
  width: 100vw;
  height: 100%;
  /* filter: blur(1px); */
}



.content-top h1 {
  position: absolute;
  left: 30px;
  top: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  color: azure;
  padding: 3px;

}

.content-top p {
  position: absolute;
  padding: 5px;
  left: 30px;
  top: 110px;
  background-color: rgba(0, 0, 0, 0.4);
  color: azure;
  width: 70%;
}

/* .content-top-description {
  font-size: large;
} */

ul {
  display: flex;
  justify-content: space-around;
  background-color: rgb(150, 150, 150);

}

ul li {
  list-style-type: none;
  /* background-color: rgb(94, 94, 94); */
  margin: 10px;
  padding: 10px 30px;
  padding-bottom: 3px;
  cursor: pointer;
  border-bottom: 3px yellow solid;
}

.tabContent {
  display: none;
}

#contentMenu {
  /* chek grids for styling */
  /* display: grid; */
  grid-auto-flow: column;
  grid-template-columns: 2;

}

#contentMenu .menu {
  background-color: rgb(63, 63, 63);
  width: 200px;
  height: 200px;
  border: 1px white solid;
}

.active.tabContent {
  display: block;
}

.list.active {
  background-color: rgb(85, 85, 85);
}

.list.red {
  border: 2px red solid;
}